
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Main -->
<div class="custom_container">
    <div class="div_main">
        <div class="row">
            <div class="col-lg-9">
                <div class="div_left">
                    <div class="info_box" id="info_box">
                        <b>
                            Biletlərin geri qaytarılması və ya dəyişdirilməsi aşağıda qeyd
                            edilən qaydalara əsasən tətbiq edilir:
                        </b>
                        <ul>
                            <li>
                                <b class="sub-heading">1. Tədbir planlandığı tarix və məkanda baş tutacağı təqdirdə:</b>
                                <br>
                                <p>Tədbirin baş tutmasına 48 saat və ya daha çox müddət qaldıqda bilet geri qaytarılarsa və ya dəyişdirilərsə, bilet dəyərinin 30%-i tutulur. Tədbirin baş tutmasına 48 saat və ya daha az müddət qaldıqda bilet geri qaytarılmır və ya dəyişdirilmir.</p>
                                <p>Yuxarıda qeyd edilmiş qaydalara əsasən biletlərinizin pul vəsaitini ödəniş üsullarına uyğun olaraq geri ala bilərsiniz: </p>
                                <ul>
                                    <li>
                                        <p>
                                            Şəhər kassalarında <b>nağd</b> və ya <b>nağdsız</b>
                                            ödəniş üsulu ilə əldə olunan biletlərin pul vəsaiti
                                            28 Mall və Gənclik Mall ticarət mərkəzlərində yerləşən
                                            satış məntəqələrimizdə nağd şəkildə geri qaytarılır;
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            iTicket.AZ  veb-səhifəsindən və mobil tətbiqindən
                                            <b>“MilliÖn”</b> ödəniş üsulu ilə əldə edilən biletlər
                                            28 Mall və Gənclik Mall ticarət mərkəzlərində yerləşən
                                            kassalarımızda nağd şəkildə geri qaytarılır;
                                        </p>

                                    </li>
                                    <li>
                                        <p>
                                            iTicket.AZ  veb-səhifəsindən və mobil tətbiqindən
                                            <b>“Onlayn”</b> ödəniş üsulu ilə alınmış biletlərin
                                            pul vəsaiti
                                            <br>
                                            <a href="tel:+994124242424" style="color: blue;">+994 12 424 24 24</a>
                                            nömrəsi ilə əlaqə saxlanılaraq, müvafiq sifariş nömrəsi və PİN
                                            kod təqdim edilməklə, sorğu edilən müddətdən 7-30 iş günü ərzində
                                            ödəniş edilən bank kartının hesabına geri qaytarılır;
                                        </p>

                                    </li>
                                    <li>
                                        <p>
                                            iTicket.AZ  veb-səhifəsindən və mobil tətbiqindən
                                            <b>“Cüzdan”</b> ödəniş üsulu ilə alınmış biletlərin
                                            pul vəsaiti yalnız cüzdana geri qaytarılır.
                                        </p>

                                    </li>
                                </ul>
                            </li>
                            <br>
                            <li>
                                <b class="sub-heading">
                                    2. Tədbir təxirə salındığı və ya məkanın
                                    dəyişdirildiyi təqdirdə:
                                </b>
                                <p>
                                    Tədbir təxirə salınarsa və ya məkanı dəyişdirilərsə, biletlərinizin
                                    yeni zamana və ya yeni məkana etibarlı olması haqqında məlumatı
                                    çağrı mərkəzimizdən əldə edə bilərsiniz.
                                </p>
                                <p>
                                    Yeni tarix və ya məkan sizi qane etmədiyi təqdirdə tədbirin təxirə
                                    salınması haqqında məlumatın verilməsindən etibarən, 14 gün ərzində
                                    biletlərinizi qaytarıb ödənişinizi tutulma olmadan geri ala bilərsiniz.
                                    14 gündən çox müddət keçdikdə bilet dəyərinin 30%-i tutulur.
                                    Tədbirin yeni tarixdə baş tutmasına 48 saat və ya daha az müddət qaldıqda
                                    bilet geri qaytarılmır və ya dəyişdirilmir.
                                </p>
                                <p>
                                    Yuxarıda qeyd edilmiş qaydalara əsasən, biletlərinizin pul vəsaitini
                                    ödəniş üsullarına uyğun olaraq geri ala bilərsiniz:
                                </p>
                                <ul>
                                    <li>
                                        <p>
                                            Şəhər kassalarında <b>nağd</b> və ya <b>nağdsız</b>
                                            ödəniş üsulu ilə əldə olunan biletlərin pul vəsaiti
                                            28 Mall və Gənclik Mall ticarət mərkəzlərində yerləşən
                                            satış məntəqələrimizdə nağd şəkildə geri qaytarılır;
                                            <br>
                                            <b>QEYD:</b> Məlumatın verilməsindən etibarən, 14 gündən çox müddət
                                            keçdikdə pul vəsaiti 28 Mall və Gənclik Mall ticarət mərkəzlərində
                                            yerləşən satış məntəqələrimizdə nağd şəkildə geri qaytarılır.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            iTicket.AZ  veb-səhifəsindən və mobil tətbiqindən
                                            <b>“MilliÖn”</b> ödəniş üsulu ilə əldə edilən biletlər
                                            28 Mall və Gənclik Mall ticarət mərkəzlərində yerləşən
                                            kassalarımızda nağd şəkildə geri qaytarılır;
                                        </p>

                                    </li>
                                    <li>
                                        <p>
                                            iTicket.AZ  veb-səhifəsindən və mobil tətbiqindən
                                            <b>“Onlayn”</b> ödəniş üsulu ilə alınmış biletlərin
                                            pul vəsaiti
                                            <br>
                                            <a href="tel:+994124242424" style="color: blue;">+994 12 424 24 24</a>
                                            nömrəsi ilə əlaqə saxlanılaraq, müvafiq sifariş nömrəsi və PİN
                                            kod təqdim edilməklə, sorğu edilən müddətdən 7-30 iş günü ərzində
                                            ödəniş edilən bank kartının hesabına geri qaytarılır;
                                        </p>

                                    </li>
                                    <li>
                                        <p>
                                            iTicket.AZ  veb-səhifəsindən və mobil tətbiqindən
                                            <b>“Cüzdan”</b> ödəniş üsulu ilə alınmış biletlərin
                                            pul vəsaiti yalnız cüzdana geri qaytarılır.
                                        </p>

                                    </li>
                                </ul>
                            </li>
                            <br>
                            <li>
                                <b class="sub-heading">3. Tədbir ləğv olunduğu təqdirdə:</b>
                                <p>
                                    Tədbir ləğv olunarsa, sorğunuza əsasən, <b>ödənişiniz tutulma olmadan</b>
                                    geri qaytarılır.
                                </p>
                                <p>
                                    Yuxarıda qeyd edilmiş qaydalara əsasən biletlərinizin pul vəsaitini ödəniş
                                    üsullarına uyğun olaraq geri ala bilərsiniz:
                                </p>
                                <ul>
                                    <li>
                                        <p>
                                            Şəhər kassalarında <b>nağd</b> və ya <b>nağdsız</b>
                                            ödəniş üsulu ilə əldə olunan biletlərin pul vəsaiti
                                            28 Mall və Gənclik Mall ticarət mərkəzlərində yerləşən
                                            satış məntəqələrimizdə nağd şəkildə geri qaytarılır;
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            iTicket.AZ  veb-səhifəsindən və mobil tətbiqindən
                                            <b>“MilliÖn”</b> ödəniş üsulu ilə əldə edilən biletlər
                                            28 Mall və Gənclik Mall ticarət mərkəzlərində yerləşən
                                            kassalarımızda nağd şəkildə geri qaytarılır;
                                        </p>

                                    </li>
                                    <li>
                                        <p>
                                            iTicket.AZ  veb-səhifəsindən və mobil tətbiqindən
                                            <b>“Onlayn”</b> ödəniş üsulu ilə alınmış biletlərin
                                            pul vəsaiti
                                            <br>
                                            <a href="tel:+994124242424" style="color: blue;">+994 12 424 24 24</a>
                                            nömrəsi ilə əlaqə saxlanılaraq, müvafiq sifariş nömrəsi və PİN
                                            kod təqdim edilməklə, sorğu edilən müddətdən 7-30 iş günü ərzində
                                            ödəniş edilən bank kartının hesabına geri qaytarılır;
                                        </p>

                                    </li>
                                    <li>
                                        <p>
                                            iTicket.AZ  veb-səhifəsindən və mobil tətbiqindən
                                            <b>“Cüzdan”</b> ödəniş üsulu ilə alınmış biletlərin
                                            pul vəsaiti yalnız cüzdana geri qaytarılır.
                                        </p>

                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <br>
                        <b>
                            QEYD 1:  Biletləri qaytarılmayan tədbirlər haqqında çağrı mərkəzimizdən məlumat əldə edə bilərsiniz
                            <br>
                            <a href="tel:+994124242424" style="color: blue;">+994 12 424 24 24</a> .
                        </b>
                        <br>
                        <b>
                            QEYD 2: Qaytarılma zamanı fiziki biletlər müvafiq kassaya təqdim edilməlidir.
                        </b>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                @await Component.InvokeAsync("RightNav")
            </div>
        </div>
    </div>
</div>
<!-- End of the main -->


@await Component.InvokeAsync("BasketSecond")
