<!-- Footer -->
<Footer>
    <div class="custom_container">
        <div class="all_footer">
            <div class="top_footer">
                <div class="row">
                    <div class="col-lg-3">
                        <img src="~/assets/image/logo.png" alt="">
                        <p>Dəstək xidməti</p>
                        <a id="telphone" href="tel:+994124242424" class="phone">+994 12 424 24 24</a>
                    </div>
                    <div class="col-lg-3">
                        <a href="#" id="footerrowtittle">Məlumat</a>
                        <a href="~/FAQ/index">Ən çox verilən suallar</a>
                        <a href="~/support/index">Dəstək</a>
                        <a href="~/rules/index">Şərtlər və Qaydalar</a>
                        <a href="~/eticket/index">Elektron bilet</a>
                        <a href="~/return/index">Biletin qaytarılması və dəyişdirilməsi</a>
                        <a href="~/privacy/index">Məxfilik</a>
                    </div>
                    <div class="col-lg-3">
                        <a id="footerrowtittle" href="">iTicket</a>
                        <a href="~/about/index">Haqqımızda</a>
                        <a href="~/venues/index">Məkanlar</a>
                        <a href="~/pointofsales/index">Biletlərin Satış Məntəqələri</a>
                        <a href="~/krf/index">Qarabağ Dirçəliş Fondu</a>
                        <a href="~/contacts/index">Əlaqə</a>
                    </div>
                    <div class="col-lg-3">
                        <a id="footerrowtittle" href="">Təhlükəsizlik</a>
                        <p>
                            Bütün ödənişlər Visa, Visa Electron,
                            Maestro və MasterCard-dan 3D
                            Secure ilə qorunur.
                        </p>
                        <img id="paymnetmethod" src="~/assets/image/pament_cards.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="button_footer">
                <div class="row">
                    <div class="col-lg-8 col">
                        <p id="LLC">
                            ITICKET® is a registered trademark of «ITICKET» LLC.
                        </p>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-4 col">
                        <div class="smm">
                            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                            <a href=""><i class="fa-brands fa-instagram"></i></a>
                            <a href=""><i class="fa-brands fa-tiktok"></i></a>
                            <a href=""><i class="fa-brands fa-twitter"></i></a>
                            <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Footer>
<!-- End of the footer -->

<!-- Responsive footer -->
<div class="custom_container">
    <div class="mobile_footer d-none">
        <div class="top_footer">
            <div class="row">
                <div class="col-lg-6 col">
                    <img src="~/assets/image/logo.png" alt="">
                </div>

                <div class="col-lg-6 col">
                    <p>Dəstək xidməti</p>
                    <a id="telphone" href="tel:+994124242424" class="phone">+994 12 424 24 24</a>
                </div>
            </div>

        </div>
        <hr>
        <div class="main_footer">
            <div class="row">
                <div class="col-lg-6 col">
                    <a href="#" id="footerrowtittle">Məlumat</a>
                    <a href="~/FAQ/index">Ən çox verilən suallar</a>
                    <a href="~/support/index">Dəstək</a>
                    <a href="~/rules/index">Şərtlər və Qaydalar</a>
                    <a href="~/eticket/index">Elektron bilet</a>
                    <a href="~/return/index">Biletin qaytarılması və dəyişdirilməsi</a>
                    <a href="~/privacy/index">Məxfilik</a>
                </div>
                <div class="col-lg-6 col">
                    <a id="footerrowtittle" href="">iTicket</a>
                    <a href="~/about/index">Haqqımızda</a>
                    <a href="~/venues/index">Məkanlar</a>
                    <a href="~/point-of-sales/index">Biletlərin Satış Məntəqələri</a>
                    <a href="~/krf/index">Qarabağ Dirçəliş Fondu</a>
                    <a href="~/contacts/index">Əlaqə</a>
                </div>
            </div>
        </div>
        <div class="Security">
            <a id="footerrowtittle" href="">Təhlükəsizlik</a>
            <p>
                Bütün ödənişlər Visa, Visa Electron,
                Maestro və MasterCard-dan 3D
                Secure ilə qorunur.
            </p>
        </div>
        <div class="Payment">
            <img id="paymnetmethod" src="~/assets/image/pament_cards.svg" alt="">
        </div>
        <hr>
        <div class="LLC">
            <p id="LLC">
                ITICKET® is a registered trademark of «ITICKET» LLC.
            </p>
        </div>
        <div class="smm" id="smm">
            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-tiktok"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
    </div>
</div>
<!-- End of the responsive footer -->
