<!-- Header -->
<header id="otherheader">
    <div class="custom_container">
        <div class="all_header">

            <div class="responsive_bar d-none ">
                <button class="subscribe" id="hamburger">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <!-- The Hamburger Search -->
                <div id="hamburger" class="hamburger">
                    <nav>
                        <a href="~/allevents/index">Bütün tədbirlər</a>
                        <a href="~/concert/index">Konsert</a>
                        <a href="~/pageant/index">Tamaşa</a>
                        <a href="~/kids/index">Uşaqlar</a>
                        <a href="~/khayalkahvesi/index">Hayal Kahvesi</a>
                        <a href="~/sport/index">İdman</a>
                        <a href="~/museum/index">Muzey</a>
                        <a href="~/tourism/index">Turizm</a>
                        <a href="~/seminar/index">Seminar</a>
                        <a href="~/masterclass/index">Master Klass</a>
                        <a href="~/other/index">Digər</a>
                        <a href="~/products/index">Məhsullar</a>
                        <a href="https://iticket360.com" target="_blank">360°/VR</a>

                    </nav>
                </div>
                <!-- End of the hamburger -->

            </div>

            <div class="left_side">
                <div class="logo">
                    <a href="~/home/index">
                        <img src="~/assets/image/logo.png" alt="">
                    </a>
                </div>
                <div class="lang">
                    <a href="#" class="d-none">AZ</a>
                    <a href="#">EN</a>
                    <a href="#">RU</a>
                </div>
            </div>

            <nav>
                <a href="~/allevents/index">Bütün tədbirlər</a>
                <a href="~/concert/index">Konsert</a>
                <a href="~/pageant/index">Tamaşa</a>
                <a href="~/kid/index">Uşaqlar</a>
                <a href="~/khayalkahvesi/index">Hayal Kahvesi</a>
                <a href="~/sport/index">İdman</a>
                <span class="options">...</span>
            </nav>

            @if (User.Identity.IsAuthenticated)
            {
                <a style="color:black">@User.Identity.Name</a>

                <a style="color:black" asp-controller="account" asp-action="logout">Çıxış</a>
            }

            <div class="right_side">
                <a id="like" href="~/like/index">
                    <i class="fa-regular fa-heart"></i>
                </a>

                <button class="subscribe" id="openSearchButton">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>

                <!-- The Modal Search -->
                <div id="serachbtn" class="serachbtn">
                    <div class="row">
                        <div class="col-lg-10" id="search-left">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <input type="text" id="searchInput" placeholder="Axtar">
                            <div id="result"></div>
                        </div>
                        <div class="col-lg-2" id="search-right">
                            <div class="closesearch">
                                <button id="closeSearchButton">
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of the search -->

                <a class="basketbtn" id="basketbtn" href="~/BasketItem/index">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span class="basket_count" id="basket_count">0</span>
                </a>

                <a href="~/account/register">
                    <button id="user">
                        <i class="fa-regular fa-user"></i>
                    </button>
                </a>

            </div>

            <div class="navbar_options d-none">
                <a href="~/museum/index">Muzey</a>
                <a href="~/tourism/index">Turizm</a>
                <a href="~/seminar/index">Seminar</a>
                <a href="~/masterclass/index">Master Klass</a>
                <a href="~/other/index">Digər</a>
                <a href="~/product/index">Məhsullar</a>
                <a href="https://iticket360.com" target="_blank">360°/VR</a>
            </div>



        </div>
    </div>
</header>
<!-- End of the header -->