
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Main -->
<div class="custom_container">
    <div class="div_main">
        <div class="row">
            <div class="col-lg-9">
                <div class="div_left">
                    <div class="info_box" id="info_box">
                        <div class="row">
                            <div class="col-lg-3" id="branch_box">
                                <div class="branch">
                                    <a href="#">Heydər Əliyev Sarayı</a>
                                    <p>Bül-Bül pr.35., Bakı</p>
                                    <p>(+99412) 493-33-77</p>
                                    <p>11:00 - 19:00 </p>
                                </div>
                                <div class="branch">
                                    <a href="#">Heydər Əliyev Sarayı</a>
                                    <p>Bül-Bül pr.35., Bakı</p>
                                    <p>(+99412) 493-33-77</p>
                                    <p>11:00 - 19:00 </p>
                                </div>
                                <div class="branch">
                                    <a href="#">Heydər Əliyev Sarayı</a>
                                    <p>Bül-Bül pr.35., Bakı</p>
                                    <p>(+99412) 493-33-77</p>
                                    <p>11:00 - 19:00 </p>
                                </div>
                                <div class="branch">
                                    <a href="#">Heydər Əliyev Sarayı</a>
                                    <p>Bül-Bül pr.35., Bakı</p>
                                    <p>(+99412) 493-33-77</p>
                                    <p>11:00 - 19:00 </p>
                                </div>
                                <div class="branch">
                                    <a href="#">Heydər Əliyev Sarayı</a>
                                    <p>Bül-Bül pr.35., Bakı</p>
                                    <p>(+99412) 493-33-77</p>
                                    <p>11:00 - 19:00 </p>
                                </div>
                                <div class="branch">
                                    <a href="#">Heydər Əliyev Sarayı</a>
                                    <p>Bül-Bül pr.35., Bakı</p>
                                    <p>(+99412) 493-33-77</p>
                                    <p>11:00 - 19:00 </p>
                                </div>
                                <div class="branch">
                                    <a href="#">Heydər Əliyev Sarayı</a>
                                    <p>Bül-Bül pr.35., Bakı</p>
                                    <p>(+99412) 493-33-77</p>
                                    <p>11:00 - 19:00 </p>
                                </div>
                                <div class="branch">
                                    <a href="#">Heydər Əliyev Sarayı</a>
                                    <p>Bül-Bül pr.35., Bakı</p>
                                    <p>(+99412) 493-33-77</p>
                                    <p>11:00 - 19:00 </p>
                                </div>
                                <div class="branch">
                                    <a href="#">Heydər Əliyev Sarayı</a>
                                    <p>Bül-Bül pr.35., Bakı</p>
                                    <p>(+99412) 493-33-77</p>
                                    <p>11:00 - 19:00 </p>
                                </div>
                                <div class="branch">
                                    <a href="#">Heydər Əliyev Sarayı</a>
                                    <p>Bül-Bül pr.35., Bakı</p>
                                    <p>(+99412) 493-33-77</p>
                                    <p>11:00 - 19:00 </p>
                                </div>


                            </div>
                            <div class="col-lg-5">
                                <div class="mapp">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d389045.8533761463!2d49.842509!3d40.37736700000001!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1693611143317!5m2!1sen!2sus"
                                            width="600" height="700" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                @await Component.InvokeAsync("RightNav")
            </div>
        </div>
    </div>
</div>
<!-- End of the main -->

@await Component.InvokeAsync("BasketSecond")
