@model UserUpdateViewModel

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title"> User Update</h4>
            <form class="forms-sample" method="post" asp-action="update">
                <div class="form-group">
                    <label asp-for="FirstName">First Name</label>
                    <input asp-for="FirstName" class="form-control" id="exampleInputName1" placeholder="First Name">
                    <span asp-validation-for="FirstName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName">Last Name</label>
                    <input asp-for="LastName" class="form-control" id="exampleInputName1" placeholder="Last Name">
                    <span asp-validation-for="LastName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserName">User Name</label>
                    <input asp-for="UserName" class="form-control" id="exampleInputName1" placeholder="User Name">
                    <span asp-validation-for="FirstName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" class="form-control" id="exampleInputName1" placeholder="Email">
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Role">Role</label>
                    <input asp-for="Role" class="form-control" id="exampleInputName1" placeholder="Role">
                    <span asp-validation-for="Role"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CurretRole">Curret Role</label>
                    <input asp-for="CurretRole" class="form-control" id="exampleInputName1" placeholder="Curret Role">
                    <span asp-validation-for="CurretRole"></span>
                </div>

                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <button class="btn btn-light" asp-action="index">Cancel</button>
            </form>
        </div>
    </div>
</div>



