@model UserProfileViewModel
@{
    ViewData["Title"] = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="custom_container">
    <main>
        <section>
            <div class="account_infobox">
                <i class="fa-solid fa-user-plus log"></i>
                <span>@Model.Fullname</span>
                <p>Şəxsi kabinetinə xoş gəlmisən!</p>
                <div class="logout">
                    <div class="logout_option">
                        <i class="fa-solid fa-key"></i>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a asp-action="changepassword">Şifrəni dəyiş</a>
                        }
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>


