<div class="sellect_btn">
    <div class="row">
        <div class="col-lg-4 ">
            <select class="form-select" aria-label="Default select example">
                <option selected>Məkan seçin</option>
                <option value="6">Heydər Əliyev Sarayı</option>
                <option value="8">Akademik Milli Dram Teatrı</option>
                <option value="9">Beynəlxalq Muğam Mərkəzi</option>
                <option value="10">Azərbaycan Dövlət Akademik Filarmoniyası</option>
                <option value="12">Elektra Events Hall</option>
                <option value="13">Gənc Tamaşaçılar Teatrı</option>
            </select>
        </div>
        <div class="col-lg-4 ">
            <div class="time_div">
                <p id="datePicker" class="time">Tarix aralığını seçin</p>
                <input type="date" id="calendar">
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="forposition">
                <div id="rangevaluearea" class="ticket_value">Qiymət 1.00 ₼-dan 14300.00 ₼-dək</div>
                <section class="range-slider rangecontainer">
                    <span class="output outputOne opacity-0"></span>
                    <span class="output outputTwo opacity-0"></span>
                    <input name="rangeOne" value="1" min="0" max="14300" step="0.01" type="range">
                    <input name="rangeTwo" value="14300" min="0" max="14300" step="0.01" type="range">
                </section>
            </div>
        </div>
    </div>
</div>