<!-- Basketsecond -->
<div class="custom_container">
    <button class="basketsecondbtn" id="basketsecondbtn">
        <i class="fa-solid fa-cart-shopping basket_icon" style="z-index: 1000;"></i>
        <span style="z-index: 1000;" class="basket_second" id="basket_second">0</span>
    </button>

    <!-- The Modal BasketSecond -->
    <div id="basketsecond_modal" style="z-index: 1000;" class="basketsecond d-none ">
        <form class="basketsecond-content animate" id="basketsecond-content">
            <div class="basketsecond_main" id="basketsecond_main">
                <div class="basket_footer">
                    <div class="row">
                        <div class="col-lg-10">
                            <i class="fa-solid fa-cart-shopping"></i> Biletlərin sayı <span>1</span>
                        </div>
                        <div class="col-lg-2">
                            <button class="subscribe" id="closebasketsecond"><i class="fa-solid fa-xmark"></i></button>
                        </div>
                    </div>
                </div>
                <div class="tittle" id="tittle">
                    <p>Səbət</p>
                </div>
                <div class="basket-main">
                    <div class="basket-left-top">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="basket-item-img">
                                    <img id="img-basket" src="assets/image/iremderici.png"
                                         style="background-image: url(./assets/image/iremderici_bg.jpg);"
                                         alt="img" draggable="false">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="basket-item-info">
                                    <span id="basket-item-location">BOS /<span id="basket-item-time&date">19:00, 02.09.23</span></span>
                                </div>
                                <div class="basket-item-name">
                                    <p>IMAGINE DRAGONS</p>
                                </div>
                                <div class="basket-item-ticket-info">
                                    <p>Ultimate Imagine Dragons VIP Experience</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-md-4">
                                <div class="row">
                                    <div class="col-lg-6" id="basket-pricetype">
                                        <div class="basket-item-price">
                                            <p>
                                                1100
                                                <i class="fa-solid fa-manat-sign"></i>
                                            </p>
                                        </div>
                                        <div class="basket-item-ticket-type">
                                            <span> VIP </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="basket-item-deleted">
                                            <button class="basketdeleted">
                                                <i class="fa-regular fa-trash-can"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="total-price">
                    <p>Cəmi <span>10</span> <i class="fa-solid fa-manat-sign"></i></p>
                </div>
                <div class="basket-item-deleted">
                    <div class="row">
                        <div class="col-lg-6">
                            <button class="subscribe" id="basketdeleted">
                                <i class="fa-regular fa-trash-can"></i>
                                Səbəti təmizlə
                            </button>
                        </div>
                        <div class="col-lg-6">
                            <button class="subscribe" id="baskettobasket"><a href="./basket.html"> Səbət</a></button>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- End of the basketecond -->
</div>
<!-- End of the  basketsecond -->